.cart-items-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
    min-height: 500px;
    padding: 30px 0;
}

.empty-cart-items-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 500px;
    padding: 30px 0;
}

table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}



.cart-item {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.item-img {
    width: 180px;
    height: 180px;
}

#proceedBtn {
    padding: 15px 20px;
    gap: 10px;
    cursor: pointer;
    background-color: #7963c0;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    width: 100%;
    height: 50px;
    position: relative;
    
}


#proceedBtn:hover:after {
    width: 100%;
}


#proceedBtn::after {
    content: ;
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #846bd5;
    transition: width 0.5s;
}

#proceedBtnTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.card-balance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
    flex-direction: column;
}

.cart-display-container {
    width: 100%;
}


@media only screen and (min-width: 1100px) {
    .cart-items-container {
        flex-direction: row;
    }

    .card-balance-container {
        width: 40%;
        font-size: 14px;

        #proceedBtnTitle {
            font-size: 14px;
        }
    }

    .cart-display-container {
        padding: 30px 30px 30px 0;
        border-right: 2px solid #846bd5;
    }
}

@media only screen and (max-width: 480px) {
    .card-balance-container {
        font-size: 14px;

        #proceedBtnTitle {
            font-size: 14px;
        }
    }

    .item-img {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (min-width: 800px) {
    .item-img {
        width: 60px;
        height: 60px;
    }
}

.delete-icon {
    padding: 3px;
    border: 1px solid #7963c0;
    border-radius: 3px;
    color: #7963c0;
}