.menu-items-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.menu-hero-img > img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.menu-hero-section-container {
    width: 100%;
    height: 60%;
    position: relative;
    background-color: #7963c0;
    border-radius: 10px;
}

.menu-hero-section {
    width: 100%;
    height: 450px;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
}

#menu-hero-img1 {
    position: absolute; 
    width: 150px; 
    height: 150px; 
    top: 70%; 
    right: 70px; 
    transform: translateY(-50%);
    transition: 0.5s;
}

#menu-hero-img2 {
    position: absolute; 
    width: 150px; 
    height: 150px; 
    top: 33%; 
    right: 250px; 
    transform: translateY(-50%);
    transition: 0.5s;
}

#menu-hero-img3 {
    position: absolute; 
    width: 150px; 
    height: 150px; 
    top: 70%; 
    right: 430px; 
    transform: translateY(-50%);
    transition: 0.5s;
}

#menu-hero-img4 {
    position: absolute; 
    width: 150px; 
    height: 150px; 
    top: 33%; 
    right: 660px; 
    transform: translateY(-50%);
    transition: 0.5s;
}

#menu-hero-img5 {
    position: absolute; 
    width: 150px; 
    height: 150px; 
    top: 70%; 
    right: 840px; 
    transform: translateY(-50%);
    transition: 0.5s;
}

#menu-hero-img6 {
    position: absolute; 
    width: 150px; 
    height: 150px; 
    top: 33%; 
    right: 1020px; 
    transform: translateY(-50%);
    transition: 0.5s;
}

