.pagination-outer-container {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pagination-control {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pagination-page-number-from {
    padding: 10px;
    color: #fff;
    width: 35px;
    height: 35px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.pagination-total {
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-size-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.page-size-select {
    width: 50px;
    height: 28px;
    border: 2px solid #000;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
}