

.checkout-outer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.checkout-inner-container {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.checkout-section {
    width: 90%;
}

.checkout-div-header {
    width: 100%; 
    height: 50px; 
    background-color: #7963c0; 
    margin-bottom: 20px; 
    color: #fff; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 1.3rem;
}

.checkout-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

@media only screen and (min-width: 600px){
    .checkout-btn-container {
        flex-direction: row;
    }
}

@media only screen and (max-width: 600px){
    .checkout-inner-container {
        width: 380px;
    }
}
