/* FoodCategories CSS -> START */
.main-container {
    width: 100%;
}

.main-actions-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    gap: 10px;
}

.search-field-container {
    position: relative;
    height: 50px;
    width: 80%;
    border: 2px solid #7963c0;
    border-radius: 5px;
}

.search-input {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding-left: 10px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
}

.add-action-container {
    width: 60px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #7963c0;
    cursor: pointer
}

/* FoodCategories CSS -> END */







/* TableDisplay CSS -> START */

.item-description-ellipses {
    width: 150px;
    height: 100%;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    
}

.item-description-td {
    position: relative;
    width: 175px;
}

.item-description-tooltip {
    position: absolute;
    width: 350px;
    padding: 10px 20px;
    background-color: #7963c0;
    text-align: left;
    top: 0;
    right: -250px;
    z-index: 9999;
    display: none;
    text-wrap: wrap;
    color: #fff;
}

.item-description-ellipses:hover > .item-description-tooltip {
    display: block;
}

.item-img {
    width: 75px;
    height: 75px;
    border-radius: 5px;
}

.item-status-icon {
    color: white;
    padding: 5px 7px;
    border-radius: 5px;
}

.admin-food-categories-image-container>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.table-row-action-icon {
    border-radius: 5px;
    padding: 3px;
    width: 35px;
    height: 35px;
    background-color: transparent;
    color: #7963c0;
    cursor: pointer;
    border: 2px solid #7963c0;
}

.table-row-action-icon:hover {
    background-color: rgba(71, 63, 96, 0.1);
}

/* TableDisplay CSS -> END */




/* CardDisplay CSS -> START */

.cards-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
    row-gap: 20px;
    column-gap: 20px;
    justify-content: space-evenly;
}

.food-item-card {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    height: 350px;
    overflow: hidden;
    box-shadow: 2px 2px 2px #7963c0, -2px -2px 2px #7963c0, 2px -2px 2px #7963c0, -2px 2px 2px #7963c0;
    
}

.food-item-card > .card-item-image-container {
    position: relative;
    width: 100%;
    height: 200px;
}

.food-item-card > .card-item-image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.food-item-card > .card-item-image-container > .card-actions {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.food-item-card > .card-item-image-container > .card-actions > .card-action-icon {
    border-radius: 5px;
    padding: 3px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7963c0;
    color: white;
    cursor: pointer;
}

.food-item-card > .card-item-image-container > .card-actions > .card-action-icon:hover {
    background-color: #8775bf;
}

.food-item-card > .item-price {
    position: absolute;
    bottom: 7px;
    left: 7px;
}

.food-item-card > .item-description > p {
    text-align: left;
    margin: 10px 0;
    font-weight: 400;
    font-size: 14px;
    padding: 0 10px;


    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* CardDisplay CSS -> END */




/* Editor CSS -> START */

.editor-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inner-editor-container {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.form-fld-grp {
    position: relative;
    width: 100%;
    height: 45px;
    border: 1px solid #7963c0;
}


.form-fld-input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    padding-left: 110px;
    border: none;
    outline: none;
    color: black;
}

.form-fld-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    background-color: #7963c0;
    width: 100px;
    height: 44px;
    user-select: none;
    color: white;
    padding-left: 10px;
}

.form-fld-error {
    color: red;
    position: absolute;
    bottom: -25px;
    left: 0;
}

.image-field-error {
    width: 100%;
    text-align: left;
    color: red;
}

.editor-actions-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.editor-action {
    cursor: pointer;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    align-items: center;
    gap: 10px;
    background-color: #7963c0;
    color: white;
}

.editor-item-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}


.inner-editor-item-image-container {
    border-radius: 10px;
    position: relative;
    min-height: 90px;
    max-height: 400px;
    min-width: 100%;
    max-width: 400px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


.selected-img-display {
    border: 2px dashed #7963c0;
    object-fit: contain;
    min-height: 90px;
    max-height: 380px;
    min-width: 380px;
    max-width: 380px;
    padding: 10px;
    border-radius: 10px;
}

.empty-image-selector {
    border: 2px dashed #7963c0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
}


.item-status-wrapper {
    width: 100%;
    height: 40px;
}

.item-status-toggler {
    width: 80px;
    height: 100%;
    border: 2px solid #7963c0;
    border-radius: 5px;
    position: relative;
}

.active-item-status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90%;
    position: absolute;
    background-color: green;
    top: 2px;
    right: 3px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.inactive-item-status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90%;
    position: absolute;
    background-color: red;
    top: 2px;
    left: 3px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}


.category-type-select {
    width: 100%;
    height: 50px;
    position: relative;
}

#selectedCategory {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: #7963c0;
    color: white;
    padding-left: 10px;
}


/* Editor CSS -> END */


/* MEDIA QUERIES -> START */

@media only screen and (max-width: 600px) {
    .inner-editor-container {
        width: 380px;
    }
}

@media only screen and (min-width: 600px){
    .editor-actions-container {
        flex-direction: row;
    }
}

/* MEDIA QUERIES -> END */