.mini-menu-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: var(--main-color);
}

#closeIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    cursor: pointer;
}

.mini-menu-items {  
    padding-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: #fff;
    font-size: larger;
}

.mini-menu-items > li {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
}

.mini-menu-items > li:hover {
    background-color: #8575ba;
}