.cart-summary-container {
    position: absolute;
    top: 39px;
    left: 0;
    width: 320px;
    background-color: #bdb9b9;
    padding: 10px 10px;
}

.inner-cart-summary-container {
    position: relative;
    width: 100%;
}

.cart-summary-btn {
    width: 100px;
    height: 35px;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    position: relative;
    border: 2px solid black;
    outline: none;
}

.cart-summary-btn:hover {
    background-color: black;
    color: #fff;
}


@media only screen and (max-width:500px) {
    #emptyBasketImg {
        width: 350px;
        height: 350px;
    }
}