.categories-container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 30px;
    flex-direction: column;
}

.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.item-container > img {
    border-radius: 50%;
}

.menu-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px
}