.breadcrumbs-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    width: 100%;
    padding: 5px 0;
    color: #7963c0;
    user-select: none;
}

.breadcrumbs-container > a {
    text-decoration: none;
    color: #7963c0;
}

.breadcrumbs-container > a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 800px){
    .breadcrumbs-container {
        font-size: 1rem;
    }
}