.password-rule {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1px;
}

.text-greeen {
    color: green;
}

.text-red {
    color: red;
}

.show-password-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--main-color);
    cursor: pointer;
}