.header-wrapper {
    width: 100%;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-menu > li {
    list-style-type: none;
    cursor: pointer;
    color: #7963c0;
    font-size: larger;
    position: relative;
    padding: 0 10px;
    outline: none;
    border: none;
}

.navbar-menu > li::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s;
    background-color: #7963c0;
}

.navbar-menu > li::before {
    content: "";
    position: absolute;
    top: -2px;
    right: 0;
    width: 0;
    height: 2px;
    transition: width 0.3s;
    background-color: #7963c0;
}

.navbar-menu > li:hover:after {
    width: 100%;
}

.navbar-menu > li:hover:before {
    width: 100%;
}

.navbar-menu > .active-navbar {
    border-bottom: 2px solid #7963c0;
    border-top: 2px solid #7963c0;
}

.actions-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 100px;
    height: 35px;
    background-color: transparent;
    color: #7963c0;
    cursor: pointer;
    position: relative;
    border: 2px solid #7963c0;
    outline: none;
}

.btn > span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn > .first-q{
    width: 25%;
    height: 0;
    left: 0;
    top: 0;
    position: absolute;
    background-color: #7963c0;
    transition: 0.3s;
    z-index: -1;
}

.btn > .third-q{
    width: 25%;
    height: 0;
    left: 50%;
    top: 0;
    position: absolute;
    background-color: #7963c0;
    transition: 0.3s;
    z-index: -1;
}

.btn > .second-q{
    width: 25%;
    height: 0;
    left: 25%;
    bottom: 0;
    position: absolute;
    background-color: #7963c0;
    transition: 0.3s;
    z-index: -1;
}

.btn > .fourth-q{
    width: 25%;
    height: 0;
    left: 75%;
    bottom: 0;
    position: absolute;
    background-color: #7963c0;
    transition: 0.3s;
    z-index: -1;
}

.btn:hover {
    color: white;
    .first-q {
        height: 100%
    }
    .second-q {
        height: 100%
    }

    .third-q {
        height: 100%
    }
    .fourth-q {
        height: 100%
    }
}

.icon {
    font-size: xx-large;
    cursor: pointer;
    color: #7963c0;
}